@import "../helpers/variables";
@import "../helpers/mixins";


footer {
  background-color: #1ea78d;
  border-top: 5px solid #062033;
  .container {
    padding-bottom: 95px;
  }
  h2.brand {
    font-family: "Pacifico", serif;
    color: white;
  }
  div{
    .col-md-3{
    }
  }
  h6 {
    color: #fff;
    &.description {
      margin-top: 36px;
      font-weight: 300;
      line-height: 18pt;
    }

    &.description1 {
      margin-top: 105px;
      margin-left: 2px;
      font-weight: 300;
      @media (max-width: 990px){
        margin-top: 40px;
      }
      line-height: 18pt;
    }
    &.sub{
      margin-top: 62px;
      font-weight: 500;
      border-left: 1px solid #177e72;
      padding-left: 15px;
      line-height: 18pt;

      span{
        padding-left: 5px;
        padding-right: 5px;
        color: #157562;
      }
    }
    &.brand {
      margin-top: 50px;
      color: $color-primary;
      font-weight: 600;
      span{
        padding-right: 5px;
      }
    }
  }
  h5 {
    &.sub {
      margin-top:15px;
      margin-left:2px;
      color: #fff;
      font-weight: 600;
    }
  }
  .form{
    padding: 0;
    margin-top: 48px;
    position:relative;
    border: 2px solid #fff;
    border-radius: 3px;
  }
  .input{
    width: 100%;
    padding: 15px;
    background: #1ea78d;
    border-right: #1ea78d;
    border: none;
    margin-bottom:25px;
    color: #fff;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .form-btn{
    color: #51bba7;
    background: #1ea78d;
    border-left: 0;
    border: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none !important;
    transition: all 0.3s;;
    &:hover{
      background: $color-feature;
      color: #fff;
      border-left: 0;
      span{
        color: #fff;
      }
    }
  }
  ul.explore{
    margin-top: 30px;
    li{
      background-color: $color-footer;
      color: #fff;
      font-weight: 300;
      border: none;
      padding-top:0;
      padding-bottom:0;
      a{
        color: #fff;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        transition: background .5s ease .300ms;
        @media only screen and (min-width: 980px) {
          font-size: 13px;
          line-height: 25pt;
        }
        @media only screen and (max-width: 980px) {
          font-size: 11px;
        }
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
  .responsive-margin{
    @media only screen and (max-width: 980px) {
      text-align: center;
      margin-top: 20px;
    }
  }
}
