
body{
  font-size: 16px;
  font-family: "Open Sans", serif;
}

nav {
  position: relative;
  padding: 0;
  z-index: 10;
  .header{
    color: #FFFFFF;
  }
  .header-brand {
    font-family: 'Pacifico', serif;
    font-size: 18pt;
  }
  a.navbar-brand{
    outline:0;
    color: #fff !important;
    font-family: 'Pacifico', serif;
    font-size: 23pt ;
    @media  (max-width: 350px) {
      font-size:15px;
    }
    @media  (min-width: 768px) {
      padding:30px 2px 25px 2px !important;
    }
  }
  .brand{
    color: rgba(255,255,255,0.35);
    font-family: 'Open Sans', serif;
    font-size: 11pt ;
    @media  (max-width: 768px) {
      font-size: 9pt ;
    }
    vertical-align: top;
  }
  .dash{
    color: #17526e;
    margin-left: 18px;
    margin-right: 6px;
    font-family: "Open Sans", serif;
    font-size: 13pt;
    text-decoration: none;
    vertical-align: top;
  }

}


#navbarmenu {
  li{
    @media (max-width: 768px) {
      text-align: center;
    }
    a {
      font-size: 13px;
      padding: 30px 2px 21px 2px;
      margin:0 15px;
      border-top: 1px solid rgba(0,0,0,0);
      outline: 0;
      letter-spacing: 0.05em;
      &:link {
        color: #FFFFFF;
      }
      &:visited {
        color: #fff;
      }
      &:hover{
        background-color: unset;
      }
      &:focus{
        background-color: unset;
      }
    }
  }
  .active {
    border-top: 1px solid #32b0ee;
    @media (max-width: 767px){
      border-bottom: 1px solid #32b0ee;
    }
  }
}
.slick-slider.slick-dotted{
  margin-bottom: 0 !important;
}

.slick-container {
  list-style-type: none;
  margin: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  .slick-item {
    position: relative;
    text-align: center;
    outline: 0;
  }
  ul.slick-dots {
    right: 1%;
    position: absolute;
    //transform: translateX(-50%);
    width: auto;
    height: fit-content;
    top: 51%;
    @include css3-prefix('transform', 'translate(-50%, -50%)');
    li {
      display: block;
      button:before {
        content: '';
        display: block;
        width: 0.48vw;
        height: 0.48vw;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #fff;
        opacity: 0.5;
      }
      &.slick-active button:before {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
  .slide-text {
    img{
      width :100%;
      height: fit-content;
      z-index: -4;
      margin-top: 0;
    }

    h1.home-text-01 {
      width: 90%;
      @include center-test(61.6%);
      color: #fff;
      //font-size:calc(38px + 1.5vw);
      font-size: 3.875em;
      font-weight: 300;
      strong{
        font-weight: 600;
      }
      @media (max-width: 766px){
        @include center-test(50%);
        font-size: 35px;
      }
      @media (max-width: 450px){
        font-size: 30px;
      }

    }
    h2{
      &.home-text-02 {
      @include center-test(69.6%);
      width: 90%;
      //font-size:calc(20px + 1.5vw);
      font-size: 3em;
      color: #fff;
      font-weight: 300;
        @media (max-width: 1024px){
          @include center-test(71%)
        }
        @media (max-width: 766px){
          @include center-test(60%);
          font-size: 20px;
        }
        @media (max-width: 450px){
          @include center-test(63%);
          font-size: 25px;
        }
        @media (max-width: 355px){
          font-size: 20px;
        }
      .text-02 {
        color: $color-header;
      }
        &.text-03 {
        @include center-test(77.1%);
        //font-size:calc(5px + 1.2vw);
          font-size: 1.125em;
        @media (max-width: 1024px){
          @include center-test(81%);
        }
        @media (max-width: 766px){
          font-size: 13px;
          @include center-test(68%);
        }
          @media (max-width: 450px){
            @include center-test(76%);
          }
          @media (max-width: 355px){
            font-size: 11px;
          }
      }
    }
      &.no-background {
        position: relative;
        overflow: hidden;

        span {
          display: inline-block;
          vertical-align: baseline;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          position: relative;
          padding: 0 32px;

          &:before, &:after {
            content: '';
            display: block;
            width: 6%;
            position: absolute;
            top: 53%;
            border-top: 2px solid $color-header;
          }

          &:before { right: 100% ;}
          &:after { left: 100%; }
        }
      }

    }
  }
}
#home{
  & .social{
    @include center-test(93.3%);
    font-size:calc(5px + 0.7vw);
    font-weight: 300;
    list-style-type: none;
    li{
      display: inline;
      a {
        outline:0;
        padding: 10px;
        &:link {
          color: rgba(255,255,255,0.5);
        }
        &:visited {
          color: rgba(255,255,255,0.5);
        }
        &:hover{
          color: rgba(255,255,255,1);
          background-color: unset;
        }
        &:focus{
          color: rgba(255,255,255,1);
          background-color: unset;
          text-decoration: none;
        }
      }
    }
  }
}



.navbar-dark{
  @media (max-width:768px) {
    background-color: rgba(10,31,35, 1);
  }
  background-color: rgba(10,31,35, 0.5);
  border: 0;
  font-size: 16px;
}

.fa-rotate-45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

