@import "../helpers/variables";
@import "../helpers/mixins";

.inline-slide {
  position: relative;
  padding: 0;
  background-color: #f4f7f9;
  color: $color-feature;

  .slick-container {
    .slick-item {
      position: relative;
      outline: 0;
    }
    ul.slick-dots {
      position: relative;
      left: 51%;
      margin-top: 58px;
      margin-bottom: 38px;
      @media only screen and (max-width: 991px) {
          position: relative;
          left: 51%;
          margin-top: 0;
      }
      li {
        display: inline-block;
        button:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid #062033;
          opacity: 0.5;
        }
        &.slick-active button:before {
          background-color: #062033;
          opacity: 1;
        }
      }
    }


    @media only screen and (max-width: 991px) {
      .responsive-margin {
        margin-bottom: 30px;
      }
      ul.slick-dots {
        position: relative;
        left: 51%;
        margin-top: 0;
      }
    }
  }
}
#feature{
  padding-bottom: 20px;
  .fa-stack{
    border: 1px solid $color-feature;
    border-radius: 50%;
    box-sizing: content-box;
  }
  .icon-test{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  br {
    display: block;
    margin: 16px 0;
    content:"";
  }
  .slick-container {
    .slick-item {
      outline:0;
      position: relative;
      div{
        &.col-md-10,&.col-md-2{
          padding:0;
        }
        &.col-md-2{
          //text-align: left;
          @media (min-width: 991px){
            text-align: left;
          }
        }
      }
    }
  }
}


#works {
  position: relative;
  padding: 0;
  background-color: white;
  color: $color-feature;
  list-style-type: none;
  margin: 0;
  min-height: 300px;
  width: 100%;
  display: block !important;
  overflow: hidden;
  .fa-stack{
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: content-box;
  }
  .icon-test{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn{
    font-family:  "Open Sans";
    font-weight: 700;
    border:none;
    border-radius:5px;
    outline: none;
    padding: 6px 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover{
      background-color: $color-feature;
      color: white;
    }
    &:active{
      color: white;
      background-color: $color-feature;
    }
    :focus{
      color: white;
      background-color: $color-feature;
    }
  }
  .btn-default{
    &:focus{
      color: white;
      background-color: $color-feature;
    }
  }
}
#team{
  padding-bottom: 90px;
  text-center{
    margin-top: 10px;
  }
  .fa-stack-1x{
    background: rgba(0,0,0,0.35);
  }
  ul.slick-dots{
    margin-top: 68px;
    margin-bottom: 34px;
  }
}

h1 {
  &.header {
    color: $color-feature;
    font-family: "Open Sans", serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-weight: 800;
  }
  &.content {
      color: $color-primary;
      font-size: 20px;
      font-family: "Open Sans", serif;
      text-align: left;
      font-weight: 600;
      letter-spacing: -0.02em;
      @media (max-width: 991px) {
        text-align: center;
      }
  }
  &.content-name{
    color: $color-primary;
    font-size: 16pt;
    padding-top: 16px;
    font-weight: 600;
    font-family: "Open Sans", serif;
  }
}

h4.background {
  position: relative;
  z-index: 1;
  font: 13pt 'Open Sans';
  margin-top: 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  color: #c3c6c7;
  #fun &{
    color: white;
    opacity: 1;
  }

  &:before {
    border-top: 1px solid #dce1e5;
    content:"";
    //margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    width: 43.5%;
    z-index: -1;
  }

  &:after {
    border-top: 1px solid #dce1e5;
    content:"";
    //margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    right: 0;
    width: 43.5%;
    z-index: -1;
  }

  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    //background: #f4f7f9;
    //padding: 0 15px;
    #feature & {
      //background: #f4f7f9;
    }
    #works & , #contact & {
      //background: white;
    }
    #fun &{
      //background: 0;
    }
  }
}



p{
  &.content{
    color: $color-primary;
    font-size: 12pt;
    font-family: "Open Sans", serif;
    text-align: left;
    font-weight: 600;
    opacity: 0.8;
    @media only screen and (min-width: 1280px) {
      font-size: 18px;
      }
    @media (max-width: 991px) {
      text-align: center;
    }
    #works & , #team  &, #contact & {
      text-align: center;

    }
    &.name{
      color: $color-primary;
      font-size: 13px;
      font-family: "Open Sans", serif;
      margin-top: 17px;
      font-weight:400;
      opacity: 0.7;
      line-height: 21px;
      #team &{
        margin-top: 8px;
      }
      #feature &{
        @media (min-width: 991px){
          text-align: justify;
        }
      }
    }
    #works &, #contact &{
      margin-top: -5px;
      margin-bottom:5px;
     }
  }
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  background-color: $color-overlay;
}
#works .overlay .overlay-text {
  color: white;
  opacity: 1;
  font: 20pt "Open Sans";
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  h3 {
    font-weight: 600;
    margin-top: 24px;
    @media only screen and (min-width: 1024px) {
      font-size: 14pt !important;
    }

    @media only screen and (max-width: 767px) {
      font-size: 18pt;
    }
    @media only screen and (max-width: 500px) {
      font-size: 11pt;
    }
  }
  h5 {
    margin-top: 6px;

    @media only screen and (min-width: 1024px) {
      font-size: 11pt !important;
    }
  }
  span {
    font-size: 13pt;
    @media only screen and (max-width: 767px) {
      font-size: 10pt;
    }
  }
}
#team .overlay .overlay-text{
  height: inherit;
  color: white;
  opacity: 1;
  font: 20pt "Open Sans";
  width: inherit;
  text-align: center;
  h4{
    margin-top:25px ;
    @media only screen and (max-width: 490px) {
      font-size: 15px;
    }
    @media only screen and (max-width: 410px) {
      font-size: 10px;
    }
    @media only screen and (max-width: 350px) {
      font-size: 8px;
    }
  }

  h5{
    padding: 25px 0;
  }
  .social{
    @include center-test(85%);
    font-size:calc(10px + 0.9vw);
    font-family: "Open Sans", serif;
    list-style-type: none;
    font-weight: 300;
    width: 90%;
    li{
      display: inline;

      a {
        outline:0;
        padding:0;
        margin:0;
        &:link {
          color: rgba(255,255,255,1);
        }
        &:visited {
          color: rgba(255,255,255,1);
        }
        &:hover{
          color: rgba(255,255,255,1);
          background-color: unset;
        }
        &:focus{
          color: rgba(250,250,250,1);
          background-color: unset;
          text-decoration: none;
        }
      }
    }
  }
}

.img-hover:hover{
  .overlay {
    height: 100%;
  }
  #team & {
    .text-center .content-name {
      color: $color-overlay;
    }
  }
}

@media only screen and (max-width: 980px) {
  .responsive-margin {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .row.responsive-margin{
    margin-top: 0;
  }
}

.row {
  position: relative;
  margin-top: 25px;
  &.title{
    #feature &{
      margin-top: 72px;
    }
    margin-top: 94px;
  }
  &.heart{
    margin-top: 17px;

  }
  &.content {
    margin-top: 52px;
    #team & {
      margin-top: 105px;
    }
    #contact &{
      margin-top: 80px;
    }
    #works &{
      margin-top: 40px
    }
    #contact &{
      margin-top: 68px;
    }

  }
  .container-fluid & {
    #works &{
      margin-top: 37px;
    }
    margin-top: 30px;
  }
  &.footer{
    margin-top: 97px;
  }
}
#contact{
  .container-fluid{
    margin-top: 80px;
    padding:0;
      }

  .bvcv:hover .envelope::after{
    content: url('../../img/icon/Envelope_active.png');
  }
  h4.location{
    font-family: "Open Sans" , serif;
    color: $color-primary
  }
  h3.location{
    font-family: "Open Sans" , serif;
    color: $color-primary;
    margin-bottom:32px;
  }
  h6.location {
    margin-top: 40px;
    font-family: "Open Sans", serif;
    color: rgba(6, 32, 51,0.6);
    line-height: 20pt;
  }
  .contact-form{
    margin-top: 20px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }
  .form-margin{
    @media (min-width: 991px){
      margin-left:-35px;
    }
  }

  /* Input Styles */
  form{
    .form-name{
      @media only screen and (min-width: 995px) {
        padding-left:0;
      }
    }
    .form-email{
      @media only screen and (min-width: 995px) {
        padding-right:0;
      }
    }
    .form-mess{
      @media only screen and (min-width: 995px) {
        padding:0;
      }
    }
  }


  .form{
    width: 100%;
    padding: 15px;
    background:white;
    border:none;
    border-bottom: 1px solid #cccccc;
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border-bottom:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border-bottom:1px solid #8BC3A3;
  }

  /* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color: $color-primary;
    background:white;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;;
    margin: auto;
    margin-top:-5px;
    span{
      padding-right: 15px;
      color: $color-feature;
    }
    @media only screen and (min-width: 980px) {
      float: right;
    }
  }

  .form-btn:hover{
    background: $color-feature;
    color: white;
    border:none;
    span{
      color: white;
    }
  }

  .form-btn:active{
    opacity: 0.9;
  }
  center{
    margin-top:330px;
  }
  input {
    position: relative;
    z-index: 10;
  }
  .responsive-margin{
    @media only screen and (max-width: 980px) {
      text-align: center;
      margin-top: 40px;
    }
  }
  ul.social{
    list-style-type: none;
    li{
      @media only screen and (max-width: 980px) {
        display: inline-block;
        width: 100px;
        text-align: center;
      }
    }
  }

  .social li a {
    display: block;
    color: #cdd2d6;
    font-size: 16pt;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background .5s ease .300ms;
    span {
      width: 100px;
      float: left;
      text-align: center;
      background: $color-feature;
      color: #fff;
      margin: -25px 74px;
      padding: 8px;
      transform-origin: 0;
      visibility: hidden;
      opacity: 0;
      transform: rotateY(45deg);
      border-radius: 5px;
      transition: all .5s ease .300ms
    }

  }
  @media only screen and (min-width: 1441px) {
    .social li a:hover span {
      visibility: visible;
      opacity: 1;
      transform: rotateY(0)
    }
  }
  .social li span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 7px;
    border: 10px solid transparent;
    border-right: 10px solid $color-feature;
  }
  .social li a:hover { color: $color-feature }
  .social li:first-child a { border-radius: 0 5px 0 0 }
  .social li:last-child  a { border-radius: 0 0 5px 0 }
}
#fun{
  background: url('../img/funfact_bg.png')no-repeat bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  img{
    max-width: 50%;
  }
  
  .responsive-margin{
    @media only screen and (max-width: 980px) {
      text-align: center;
      margin-top: 40px;
    }
  }
  .bgrfun{
    background-color: rgba(6,32,51,0.8);
    padding-bottom: 155px;
  }
  .text-center{
    color: rgb(255,255,255);
    h1{
      margin-top: 33px;
      font-family: "Open Sans";
      font-weight: 600;
      @media (min-width: 1048px ){
        font-size: 60px;
      }
    }
    h4{
      margin-top: 3px;
      font-family: "Open Sans";
      text-transform: uppercase;
    }
  }
}
.no-border{
  border: 0;
}
.no-padding{
  padding: 0 !important;
  #contact &{
    padding: 0 15px 0 0 !important;
  }
}
.no-paddingleft{
  @media (min-width: 980px){
    padding-left: 0 !important;
  }
}

.no-margin{
  margin: 0 !important;
}
.no-margintop{
  margin-top: 0 !important;
}
.img-responsive{
  width: 100%;
}

.btn-test{
  background-color: $color-feature;
  color: white;
}
.fa-heart-o{
  font-weight: bold;
}










