// todo cai nay co import ben file main.scss roi, import lam chi nua la???

.inline-slide {
  position: relative;
  padding: 0;
  background-color: #f4f7f9;
  color: $color-feature;

  .slick-container {
    ul.slick-dots {
      position: relative;
      left: 51%;
      margin-top: 56px;
      margin-bottom: 35px;
      #feature &{
        margin-bottom: 30px;
      }
      @media only screen and (max-width: 991px) {
          left: 51%;
          margin-top: 0;
      }
      li {
        display: inline-block;
        button:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid #062033;
          opacity: 0.5;
        }
        &.slick-active button:before {
          background-color: #062033;
          opacity: 1;
        }
      }
    }


    @media only screen and (max-width: 991px) {
      .responsive-margin {
        margin-bottom: 30px;
      }
      ul.slick-dots {
        left: 51%;
        margin-top: 0;
      }
    }
  }
}
#feature{
  padding-bottom: 20px;
  .fa-stack{
    border: 1px solid $color-feature;
    border-radius: 50%;
    box-sizing: content-box;
    width: 2.5rem;
    height: 2.5rem;
  }
  .icon-test{
    display: flex;
    justify-content: center;
    align-items:center;
    line-height: 0;
    //width: 100%;
    height: inherit;
  }
  .slick-container {
    .slick-item {
      outline:0;
      div{
        &.col-md-3,&.col-md-9,&.col-md-4{
          padding:0;
        }
        &.col-md-2{
          //text-align: left;
          @media (min-width: 991px){
            text-align: left;
          }
        }
      }
    }
  }
}


#works {
  // todo khong hieu sao cai block nay position ralative luon???
  // nguyen style position, padding, bg white, color, list style, margin, display block, overflow, width 100%??? khong hieu muc dich lam gi het
  // todo ko duoc ghi style mau la may cai chu white, black blue... ke ca la may mau common white black
  // hoac la phai #000, #fff hoac la khai bao bien variable $white: #fff
  // todo PHAI LUON HAN CHE DUNG IMPORTANT tru khi minh bat buoc phai de layout/style cua plugin
  .fa-stack{
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: content-box;
    width: 2.5rem!important;
    height: 2.5rem !important;
  }
  // todo cam giac doan style nay khong can dung toi luon, xoa het layout van nhu bt???
  .icon-test{
    display: flex;
    justify-content: center;
    align-items:center;
    line-height: 0;
    width: 100%;
    height: inherit;
  }
  .btn{
    // todo sao font family o day bi lap lai qua vay? font chi khai bao 1 lan tru nhung font dat biet o title chang han thoi
    font-weight: 700;
    border:none;
    border-radius:5px;
    outline: none;
    padding: 6px 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover{
      background-color: $color-feature;
      color: #fff;
    }
    &:active{
      color: #fff;
      background-color: $color-feature;
    }
    :focus{
      color: #fff;
      background-color: $color-feature;
    }
  }
  .btn-default{
    &:focus{
      color: #fff;
      background-color: $color-feature;
    }
  }
}
#team{
  padding-bottom: 90px;
  text-center{
    margin-top: 10px;
  }
  .fa-stack-1x{
    background: rgba(0,0,0,0.35);
  }
  ul.slick-dots{
    margin-top: 65px;
    margin-bottom: 30px;
  }
}

h1 {
  &.header {
    color: $color-feature;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-weight: 800;
  }
  &.content {
      color: $color-primary;
      font-size: 20px;
    // todo sao font family o day bi lap lai qua vay? font chi khai bao 1 lan tru nhung font dat biet o title chang han thoi
      text-align: left;
      font-weight: 600;
      letter-spacing: -0.02em;
      @media (max-width: 991px) {
        text-align: center;
      }
  }
  &.content-name{
    color: $color-primary;
    font-size: 16pt;
    padding-top: 16px;
    font-weight: 600;
  }
}

h4.background {
  position: relative;
  z-index: 1;
  font: 13pt 'Open Sans';
  margin-top: 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  color: #c3c6c7;
  width: 70%;
  margin: auto;
  #fun &{
    color: #fff;
    opacity: 1;
  }

  &:before {
    border-top: 1px solid #dce1e5;
    content:"";
    position: absolute;
    top: 50%;
    left: 6%;
    width: 35%;
    z-index: -1;
  }

  &:after {
    border-top: 1px solid #dce1e5;
    content:"";
    position: absolute;
    top: 50%;
    right: 6%;
    width: 35%;
    z-index: -1;
  }
}



p{
  &.content{
    color: $color-primary;
    font-size: 12pt;
    text-align: left;
    font-weight: 600;
    opacity: 0.8;
    @media only screen and (min-width: 1280px) {
      font-size: 18px;
      }
    @media (max-width: 991px) {
      text-align: center;
    }
    #works & , #team  &, #contact & {
      text-align: center;

    }
    &.name{
      color: $color-primary;
      font-size: 13px;

      margin-top: 17px;
      font-weight:400;
      opacity: 0.7;
      line-height: 21px;
      #team &{
        margin-top: 8px;
      }
      #feature &{
        @media (min-width: 991px){
          text-align: justify;
        }
      }
    }
    #works &,#contact &{
      margin-top: -5px;
      margin-bottom:5px;
     }

  }
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  background-color: $color-overlay;
}
#works .overlay .overlay-text {
  color: #fff;
  opacity: 1;
  font: 20pt "Open Sans";
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  h3 {
    font-weight: 600;
    margin-top: 24px;
    @media only screen and (min-width: 1024px) {
      font-size: 14pt;
    }
    @media only screen and (max-width: 767px) {
      font-size: 18pt;
    }
    @media only screen and (max-width: 500px) {
      font-size: 11pt;
    }
  }
  h5 {
    margin-top: 6px;
    @media only screen and (min-width: 1024px) {
      font-size: 11pt;
    }
  }
  span {
    font-size: 13pt;
    @media only screen and (max-width: 767px) {
      font-size: 10pt;
    }
  }
}
#team .overlay .overlay-text{
  height: inherit;
  color: #fff;
  opacity: 1;
  font-size: 20pt;
  width: inherit;
  text-align: center;
  h4{
    margin-top:25px ;
    @media only screen and (max-width: 490px) {
      font-size: 15px;
    }
    @media only screen and (max-width: 410px) {
      font-size: 10px;
    }
    @media only screen and (max-width: 350px) {
      font-size: 8px;
    }
  }

  h5{
    padding: 25px 0;
  }
  .social{
    @include center-test(85%);
    font-size:calc(10px + 0.9vw);
    list-style-type: none;
    font-weight: 300;
    width: 90%;
    li{
      display: inline;

      a {
        outline:0;
        padding:0;
        margin:0;
        &:link {
          color: #fff;
        }
        &:visited {
          color: #fff;
        }
        &:hover{
          color: #fff;
          background-color: unset;
        }
        &:focus{
          color: #fff;
          background-color: unset;
          text-decoration: none;
        }
      }
    }
  }
}

.img-hover:hover{
  .overlay {
    height: 100%;
  }
  #team & {
    .text-center .content-name {
      color: $color-overlay;
    }
  }
}

@media only screen and (max-width: 980px) {
  .responsive-margin {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .row.responsive-margin{
    margin-top: 0;
  }
}

.row {
  margin-top: 25px;
  &.title{
    #feature &{
      margin-top: 0;
      padding-top: 71px;
    }
    #team &{
      margin-top: 0;
      padding-top: 94px;
    }
    #fun &{
      margin-top: 94px;
    }
    margin-top: 94px;
  }
  &.heart{
    margin-top: 16px;
    #works &{
      margin-top: 17px
    }
  }
  &.highlight{
    margin-top:30px;
    #fun &{
      margin-top:20px;
    }
  }

  &.content {
    margin-top: 52px;
    #feature &{
      margin-top: 60px;
    }
    #team & {
      margin-top: 105px;
    }
    #works &{
      margin-top: 40px
    }
    #contact &{
      margin-top: 73px;
    }
  }
  .container-fluid & {
    #works &{
      margin-top: 37px;
    }
    margin-top: 30px;
  }
  &.footer{
    margin-top: 97px;
  }
}
#contact{
  .container-fluid{
    margin-top: 90px;
    padding:0;
  }
  h4.location{
    color: $color-primary
  }
  h3.location{
    color: $color-primary;
    margin-bottom:32px;
  }
  h6.location {
    margin-top: 35px;
    color: rgba(6, 32, 51,0.6);
    line-height: 20pt;
  }
  .contact-form{
    margin-top: 20px;
  }
  .form-margin{
    margin-top: -4px;
  }


  /* Input Styles */
  form{
    .form-name{
      @media only screen and (min-width: 995px) {
        padding-left:0;
      }
    }
    .form-email{
      @media only screen and (min-width: 995px) {
        padding-right:0;
      }
    }
    .form-mess{
      @media only screen and (min-width: 995px) {
        padding:0;
      }
    }
  }
  .form{
    width: 100%;
    padding: 15px;
    background:#fff;
    border:none;
    border-bottom: 1px solid #cccccc;
    margin-bottom:25px;
    color:#727272;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border-bottom:1px solid #8BC3A3;
  }

  .form:focus{
    color: #fff;
    outline: none;
    border-bottom:1px solid #8BC3A3;
  }

  /* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color: $color-primary;
    background:#fff;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;;
    margin-top:-5px;
    span{
      padding-right: 15px;
      color: $color-feature;
    }
    @media only screen and (min-width: 980px) {
      float: right;
    }
  }

  .form-btn:hover{
    background: $color-feature;
    color: #fff;
    border:none;
    span{
      color: #fff;
    }
  }

  .form-btn:active{
    opacity: 0.9;
  }
  .responsive-margin{
    @media only screen and (max-width: 980px) {
      text-align: center;
      margin-top: 40px;
    }
  }
  ul.social{
    list-style-type: none;
    li{
      @media only screen and (max-width: 980px) {
        display: inline-block;
        width: 100px;
        text-align: center;
      }
    }
  }

  .social li a {
    display: block;
    color: #cdd2d6;
    font-size: 16pt;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background .5s ease .300ms;

  }
  .social li a:hover { color: $color-feature }
}
#fun{
  background: url('../img/funfact_bg.png')no-repeat bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  img{
    max-width: 50%;
  }
  
  .responsive-margin{
    @media only screen and (max-width: 980px) {
      text-align: center;
      margin-top: 40px;
    }
  }
  .bgrfun{
    background-color: rgba(6,32,51,0.8);
    padding-bottom: 155px;
  }
  .text-center{
    color: #fff;
    h1{
      margin-top: 40px;
      font-weight: 600;
      @media (min-width: 1048px ){
        font-size: 60px;
      }
    }
    h4{
      margin-top: 7px;
      text-transform: uppercase;
    }
  }
}
.no-border{
  border: 0;
}
.no-padding{
  padding: 0 !important;
  #contact &{
    padding: 0 15px 0 0 !important;
  }
}
.no-paddingleft{
  @media (min-width: 980px){
    padding-left: 0 !important;
  }
}

.no-margin{
  margin: 0 !important;
}
.no-margintop{
  margin-top: 0 !important;
}
.img-responsive{
  width: 100%;
}

.btn-test{
  background-color: $color-feature;
  color: #fff;
}
.fa-heart-o{
  font-weight: bold;
}
.no-paddingright{
  @media (min-width: 767px){
    padding-right: 0;
  }
}
.no-paddingresponsive{
  @media (min-width: 767px){
    padding:0 !important;
  }
}






